<h2>Login</h2>
<a href="/home/signup" class="btn btn-success">Sign Up</a>
<form>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="text" class="form-control" placeholder="Password" />
    <a href="/home/submit" class="btn btn-danger">Login</a>

</form>

