
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<a href="/home/login" class="btn btn-success">Login</a>
<form>
    <input type="text" class="form-control" placeholder="Name" />
    <input type="text" class="form-control" placeholder="Username" />
    <input type="text" class="form-control" placeholder="Password" />
    <input type="submit" class="btn btn-primary"/>
</form>

