<h2>Profile</h2>
<h3>Welcome to Dashboard</h3>
<table class="table table-bordered" >
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Cgpa</th>
    </tr>
    <tr>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Id</td>
        <td>@ViewBag.Cgpa</td>
    </tr>
</table>

